* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: $bg1;
  background-size: 100% 100%;
  padding: $global-padding;
}

main {
  width: 100%;
  height: 75%;
  padding: $global-padding;
  background: $white;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
  padding: 0.625rem 0.9375rem;
  background: $fushia;
  border-radius: 5px;
  border: none;
  color: $white;
}

.flex {
  display: flex;

  &-dc { // direction column
    flex-direction: column;
  }

  &-jc-c { // justify content center
    justify-content: center;
  }

  &-jc-sb { // justify content space between
    justify-content: space-between;
  }

  &-ai-c { // align items center
    align-items: center;
  }
}

footer {
  width: 100%;
  height: 10%;
  background-color: $white;
  border-radius: 10px;
}
