* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: $bg1;
  background-size: 100% 100%;

  .app {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: $global-padding;
  }

  .blur {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: blur(100px);
  }
}

main {
  width: 100%;
  max-width: 950px;
  height: 75%;
  padding: $global-padding;
  background: $white;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $iris;
  font-size: 25px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: purple;
}

ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
  padding: 0.625rem 0.9375rem;
  background: $white;
  border-radius: 5px;
  border: none;
  color: $iris;
  font-size: 15px;
  font-weight: bold;
  width: 82px;
  height: 37px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: $fushia;
  color: $white;
}

.flex {
  display: flex;

  &-dc { // direction column
    flex-direction: column;
  }

  &-jc-c { // justify content center
    justify-content: center;
  }

  &-jc-sb { // justify content space between
    justify-content: space-between;
  }

  &-ai-c { // align items center
    align-items: center;
  }
}

footer {
  width: 100%;
  max-width: 950px;
  height: 10%;
  background-color: $white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
