.header {
  width: 100%;
  height: 10%;
  padding: $global-padding;
  background-color: $white;
  border-radius: 10px;

  &-title {
    height: 100%;
    background: transparent;
    font-size: 1.5em;
    color: $iris;
    text-transform: capitalize;
  }
}
