.header {
  width: 100%;
  max-width: 950px;
  height: 10%;
  padding: $global-padding;
  background-color: $white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  &-title {
    height: 100%;
    background: transparent;
    font-size: 1.5em;
    color: $iris;
    text-transform: capitalize;
  }
}
